#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno

#
# Top-level generic files
#
/tags
/TAGS
/linux
/vmlinux
/vmlinuz
/System.map
/Module.markers
/Module.symvers

#
# Debian directory (make deb-pkg)
#
/debian/

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
!.mailmap

#
# Generated include files
#
include/config
include/generated
arch/*/include/generated
include/config/auto.conf
include/config/kernel.release
include/config/tristate.conf
include/generated/asm-offsets.h
include/generated/autoconf.h
include/generated/bounds.h
include/generated/compile.h
include/config/auto.conf
include/config/kernel.release
include/config/tristate.conf
include/generated/autoconf.h
include/generated/utsrelease.h

arm-eabi/

scripts/basic/bin2c
scripts/basic/fixdep
scripts/dtc/dtc
scripts/kallsyms
scripts/kconfig/conf
scripts/kconfig/mconf
scripts/mod/elfconfig.h
scripts/mod/mk_elfconfig
scripts/mod/modpost
scripts/pnmtologo
scripts/selinux/genheaders/genheaders
scripts/selinux/mdp/mdp
scripts/sortextable
tools/dct/old_dct/DCT.log
arch/arm/boot/Image
arch/arm/boot/compressed/ashldi3.S
arch/arm/boot/compressed/bswapsdi2.S
arch/arm/boot/compressed/hyp-stub.S
arch/arm/boot/compressed/lib1funcs.S
arch/arm/boot/compressed/piggy.gzip
arch/arm/boot/compressed/vmlinux
arch/arm/boot/compressed/vmlinux.lds
arch/arm/boot/dts/pixi4_5.dtb
arch/arm/boot/dts/cust.dtsi
arch/arm/boot/zImage
arch/arm/boot/zImage-dtb
arch/arm/crypto/sha256-core.S
arch/arm/kernel/vmlinux.lds
drivers/video/logo/clut_vga16.c
drivers/video/logo/logo_blackfin_clut224.c
drivers/video/logo/logo_blackfin_vga16.c
drivers/video/logo/logo_dec_clut224.c
drivers/video/logo/logo_linux_clut224.c
drivers/video/logo/logo_linux_mono.c
drivers/video/logo/logo_linux_vga16.c
drivers/video/logo/logo_m32r_clut224.c
drivers/video/logo/logo_mac_clut224.c
drivers/video/logo/logo_parisc_clut224.c
drivers/video/logo/logo_sgi_clut224.c
drivers/video/logo/logo_spe_clut224.c
drivers/video/logo/logo_sun_clut224.c
drivers/video/logo/logo_superh_clut224.c
drivers/video/logo/logo_superh_mono.c
drivers/video/logo/logo_superh_vga16.c
kernel/time/hz.bc
kernel/time/timeconst.h
lib/crc32table.h
lib/gen_crc32table
net/wireless/regdb.c
security/selinux/av_permissions.h
security/selinux/flask.h
usr/gen_init_cpio

scripts/dtc/dtc-lexer.lex.c
scripts/dtc/dtc-parser.tab.c
scripts/dtc/dtc-parser.tab.h
scripts/kconfig/zconf.hash.c
scripts/kconfig/zconf.lex.c
scripts/kconfig/zconf.tab.c
scripts/mod/devicetable-offsets.h
drivers/misc/mediatek/gpu/gpu_mali/mali_utgard/mali/mali/__malidrv_build_info.c



# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

*.orig
*~
\#*#
